<ul class="nav nav-pills">
    <li>
        <a href="/">All</a>
    </li>
    <li>
        <a href="/active" data-filters="ready waiting">Active</a>
    </li>
    <li>
        <a href="/completed" data-filters="completed">Completed</a>
    </li>
    <li>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Only mine
            </label>
        </div>
    </li>
</ul>