/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";
@import "../../vendor/bower/bootstrap/dist/css/bootstrap.css";

/*-- Application stylesheets. -----------------------------------------------*/

body {
    padding-top: 70px;
}

select.board-list{
    height: 300px;
}

.board-list .complete{
    color: #333;
}

.board-list .ready{
    color: green;
}

.board-list .waiting{
    color: orange;
}

/* Items */
.board-detail-container{
    height: 500px;
}

.item{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}