/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";
@import "../../vendor/bower/bootstrap/dist/css/bootstrap.css";

/*-- Application stylesheets. -----------------------------------------------*/

#main{
    overflow-x: hidden;
}

#logo{
    font-family: 'Source Code Pro', sans-serif;
    font-weight: bold;
    font-size: 55px;
    text-shadow: 2px 2px #333;
}

#logo a{
    color: #fff;
}

#logo a:hover{
    text-decoration: none;
}


/* Containers */
.row-title{
    color: #fff;
    background-color: #555;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 78px;
}

.row-secondary{
    margin-bottom: 10px;
    background-color: #e7e7e7;
}

.row-secondary .row-secondary-container{
    padding: 20px 0;
}

.login-container{
    padding-top: 20px;
}

.board-create-container{
    
}

/* Content */
select.board-list{
    height: 300px;
}

/* Items */
.board-detail-container{
    height: 500px;
}

.board-container{
}

.board{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

.board .spot{
    float: left;
    width: 33%;
    height: 33%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
}

.board .spot a{
    display: block;
    height: 100%;
    width: 100%;
}

.board-container .join{
    display: none;
}

.board-container.joinable .join{
    display: block;
}

/* Status */

.board-list .complete{
    color: #333;
}

.board-list .ready{
    color: green;
}

.board-list .waiting{
    color: orange;
}

.board.complete{
    border: 1px solid #333;
}

.board.ready{
    border: 1px solid green;
}

.board.waiting{
    border: 1px solid orange;
}