<!-- Logged out -->
<div class="input-group request-login-form">
    <input type="email" name="email" class="form-control" placeholder="Enter email">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Login</button>
    </span>
</div>